<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head">
</head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center">
                 <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
            </div>
            <div class="col-md-10">
                 <h3>OPPSSS!!!! lo siento...</h3>
                 <p>No tienes permiso para acceder a esta pagina.<br/>Regrese a la página anterior para continuar navegando..</p>
                 <a class="btn btn-danger" href="javascript:history.back()">Ir atras</a>
            </div>
       </div>
    </div>
   <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>